*, 
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $main-bg-color;
    color: $main-text-color;
    font-family: "Space Mono";
}

a {
    color: $main-link-color;
    text-decoration: none;
    margin: 0 1rem 0 1rem;
}

